body {
  font-family: "Plus Jakarta Sans", serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}
.f-info-links a {
    text-decoration: none;
    margin-right: 1rem;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 20rem !important;
}
.card-body {
    padding: 0 !important;
}
.card-text p {
    font-weight: 400 !important;
}
.listing-link {
    text-decoration: none;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
.add-btn {
    background-color: #222222 !important;
    border: none !important;
}
.btns {
    display: flex;
    margin-top: 1rem;
}
.btns a {
    background-color:  #fe424d;
    border: none;
}

.review-card {
    background-color: #222222;
    color: white;
    border-radius: 1.5rem;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
}
.review-container {
    display: grid;
    gap: 0.25rem; /* Spacing between cards */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .review-container {
        grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    }
}

@media (min-width: 1024px) {
    .review-container {
        grid-template-columns: repeat(3, 1fr); /* Three cards per row for larger screens */
    }
}

.review-card-title {
    font-size: medium;
    margin: 1rem;
}
.review-card-text {
    margin: 1rem;
}
.review-card-body form button {
    font-size: small;
    border-radius: 1.5rem;
    height: 2rem !important;
    width: 10rem !important;
    margin: 1rem;
}
.review-card-comment {
    max-height: 10rem;
    overflow-y: auto;
}

.review-card-comment::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.review-card-comment::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

.review-card-comment::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 4px;
}

/* Hide scrollbar if content height is less than 10rem */
.review-card-comment:has(:only-child) {
    overflow-y: hidden;
}

.review-card-comment:has(:not(:only-child)) {
    overflow-y: auto;
}

